.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}
nav {
  @include flex(space-between, center, row);
  min-height: 10vh;
  width: 60%;
  flex-wrap: wrap;
  .logo {
    @include flex(flex-start, center, row);
    flex: 1 1 10rem;
    h1 {
      margin: 2rem;
    }
  }
  ul {
    @include flex(space-around, center, row);
    flex: 1 1 40rem;
  }
}
.activenav {
  background: $gray-text;
  color: white;
  padding: 1rem 1rem;
  border-radius: 2rem;
}
.location {
  .infotext {
    background: $background-color;
    color: white;
    min-height: 10vh;
    padding: 0% 5%;
    @include flex(flex-start, center, row);
    ul {
      flex: 1 1 40rem;
      @include flex(space-around, center, row);
    }
    h1 {
      flex: 1 1 40rem;
    }
    a {
      color: white;
    }
  }
  .info {
    display: flex;
    img {
      width: 40%;
      height: 50vh;
    }
    #map {
      display: flex;
      justify-content: flex-end;
      width: 60%;
      height: 50vh;
    }
  }
}
