$header1: 5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$header5: 1.5rem;
$text: 2.5rem;
$background-color: #154353;
$gray-text: #2c2c2c;
$background-color-blue: #0b188fe5;
$background-color-red: #bb2222f8;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
@mixin addimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
}

@import "global";
@import "contact";
@import "footer";
@import "intro";
@import "benefits";
@import "services";
@import "modal";
@import "partners";
@import "about";
@import "jobs";

@media screen and (max-width: 1332px) {
  htm {
    font-size: 53%;
  }
  nav {
    width: 100%;
  }
}
@media screen and (max-width: 754px) {
  htm {
    font-size: 45%;
  }
  .main-head {
    width: 100%;
  }
  nav {
    .logo {
      @include flex(center, center, column);
      flex: 1 1 20rem;
      margin-top: 2rem;
    }
    ul {
      flex: 1 1 60rem;
      margin: 2rem 0rem;
    }
  }
}
